# Environment Files
.env
.env.*
!.env.example
!.env.test

# Temporary Files
/.sqlx/
local/
tmp
*.log

# Compiled Files and Executables
debug/
target/

# Rustfmt Backup Files
**/*.rs.bk

# MSVC Debug Files
*.pdb

# Aider-specific Files
.aider*

# Docker Configuration
docker-compose.local.yml

# Node.js & pnpm Files
playwright-report
test-results
node_modules
dist
dist-ssr
*.local

# Build Output
.output
.vercel
.netlify
.wrangler
build/

# OS-specific Files
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.tanstack

# Database backups
backups/
