# Database URL for sqlx CLI
DATABASE_URL=postgresql://aipriceaction:helloaipriceaction@localhost:5432/aipriceaction

# Environment Configuration
# Set to "production" to enable production security features
AIPRICEACTION__ENV=development

# Database Configuration for application
AIPRICEACTION__DATABASE__USER=aipriceaction
AIPRICEACTION__DATABASE__PASSWORD=helloaipriceaction
AIPRICEACTION__DATABASE__HOST=localhost
AIPRICEACTION__DATABASE__PORT=5432
AIPRICEACTION__DATABASE__DATABASE=aipriceaction
